#myCanvas
{
    border: 1px solid #000;
    margin: 0 auto;
    display:block;
}

header {
    background: rgba(45, 133, 183, 1.8);
    position: absolute;
    top: 0;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    border-bottom: 3px solid rgba(45, 133, 183, 1);
}

header h1{
    text-align: center;
    font-family: lato;
    font-style: normal;
    font-size: 20px;
    color: #FFF;
    padding: 0;
    margin: 10px 0;
}

section {
    width: 90%;
    height:auto;
    padding:10px;
    margin: 90px auto 0 auto;
}
